<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Rango</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            li {
                display: inline;
              }

              li a {
                display: block;
                display: inline;
                color: Black;
                padding: 14px 16px;
                text-decoration: none;
              }
        </style>
    </head>
    <body>
        <header>
            <ul>
                <li><a href="">Homepage</a></li>
                <li><a href="/rango/about/">About us</a></li>

            </ul>
                
            </header>
        <h1>
            Rango Says...
        </h1>
        <div>
             Hey there partner!
            <strong>{{ boldmessage }}</strong><br/>
        </div>
        <div>
            <a href="/rango/about/">About</a><br />
            <img src="{% static 'images/rango.png' %}"
            alt="Picture of Rango" draggable="false" />
        </div>
    </body>
</html>